header {
    height: calc(60vh + 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Img/botihd.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.implemento{
    background-color: white;
    background-image:linear-gradient(180deg,rgb(27, 172, 148),rgb(131, 85, 205)) ;
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

header h1 {
    font-size: 3.5rem;
}

div div div img {
    border-radius: 8px;
    filter: brightness(.8);
}

.descripccion {
    text-align: center;
    padding: 3% 5% 5%;
}
.implementos {
    padding: 0 8% 5%;
}
ol li {
    font-size: 1.5rem;
}
.tipos-implementos ul li {
    list-style: disc;
    margin-left: 2rem;
    font-size: 1rem;
}
.implementos-img-container {
    display: flex;
    justify-content: center;
}
li img {
    width: 30%;
    border-radius: 8px;
    margin-top: 5%;
    filter: brightness(.8);
}